.login{
    margin-top: 20px;
    height: 100%;
    width: 100%;
    transition: all 2s ease;
}
.loginFocus{
    background-color: white !important;
    color: black !important;
}
/* .loginFocus:hover{
    background-color: black !important;
    color: white !important;
} */
.card{
    background-color: rgb(60, 60, 58) !important;
}
#typeEmailX{
    width: 70% !important;
    margin: 0 auto;
}
#typePasswordX{
    width: 70% !important;
    margin: 0 auto;
}