.login{
    margin-top: 20px;
    height: 100%;
    width: 100%;
    transition: all 2s ease;
}

.card{
    background-color: rgb(60, 60, 58) !important;
}
#typeEmailX{
    width: 70% !important;
    margin: 0 auto;
}
#typePasswordX{
    width: 70% !important;
    margin: 0 auto;
}