
.topNav{
    width: 84%;
    height: 60px;
    position: fixed;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
    margin-left: -3px;
    
}
.contain{
    width: auto;
}

.login_btn{
    border: 1px solid gray !important;
}
.login_btn:hover{
    background-color: gray !important;
    color: white !important;
}

