.topNav{
    width: 50vw;
    position: fixed;
    top:0;
    right: 0;
}
.login{
    float: right;
}
.login_btn{
    border: 1px solid gray !important;
}
.login_btn:hover{
    background-color: gray !important;
    color: white !important;
}